body {
    background-color: beige
}

.user_info {
    color: var(--color-darkGrey);
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 1rem 2rem;
    text-align: center;
    color: darkblue;
    font-weight: bold;
}